<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="<%= placeSent %>">
    <div class="mainstart">
        <h2>Blushing, the creature tells you the way out is on tile <%= winningTile %><br>
            <a href="/<%= placeSent %>/<%= gameClass %>/13">Teleporting you to start →</a>
        </h2>
        <img src="../../<%= gameClass %>.png" height="500px" alt="not working :)"/>
    </div>
    <div class="boss">
        <img src="../../<%= placeSent %>boss.png" height="370px" alt="not working :)"/>
    </div>
</body>
</html>